certifi==2025.11.12
charset-normalizer==3.4.4
greenlet==3.1.1
idna==3.11
numpy==1.24.4
pandas==2.0.3
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
sqlalchemy==2.0.45
typing-extensions==4.13.2
tzdata==2025.3
urllib3==2.2.3
